.btn {
    border-radius: 8px;
    font-weight: bold;
}

.btn-add {
    background-color: #7b9acc;
    color: #fff;
}
/* Tables */
.table {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.table th,
.table td {
    vertical-align: middle !important;
}

/* Badges */
.badge {
    font-size: 0.8rem;
}
